html,
body {
    height: 100%;
}

body, textarea, input {
    color: #8B7969;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ヘッダー */
.header {
  display: grid;
  align-items: center;
  padding: 16px 0;
  height: 80px;
  border: 1px solid #E0DFDE;
  text-align: center;
  font-family: serif;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.header__heading {
  font-weight: lighter;
  font-size: 32px;

  grid-column: 2;
}